## Task 1
### Read Data from Delta Table
Use Spark to read data from the Delta table into a DataFrame.

In [4]:
from databricks.sdk.runtime import *
from databricks.connect import DatabricksSession

spark = DatabricksSession.builder.profile("dbrx_connect").getOrCreate()

/Users/ryan/Developer/e2e_mlops_aws/.venv/lib/python3.11/site-packages/databricks/connect/session.py:433: UserWarning: Ignoring the default notebook Spark session and creating a new Spark Connect session. To use the default notebook Spark session, use DatabricksSession.builder.getOrCreate() with no additional parameters.
  warnings.warn(new_notebook_session_msg)

In [5]:
# TODO
dataset_path = "/Volumes/dt_analytics/analytics_volumes/rhammang/telco"

# Read dataset with spark

schema_string = """
    customerID string,
    gender string,
    SeniorCitizen double,
    Partner string,
    Dependents string,
    tenure double,
    phoneService string,
    MultipleLines string,
    internetService string,
    OnlineSecurity string,
    OnlineBackup string,
    DeviceProtection string,
    TechSupport string,
    StreamingTV string,
    StreamingMovies string,
    Contract string,
    PaperlessBilling string,
    PaymentMethod string,
    MonthlyCharges double,
    TotalCharges double,
    Churn string
"""

telco_df = spark.read.csv(dataset_path,
                          header=True,
                          schema=schema_string,
                          multiLine=True,
                          escape='"')

table_name = "telco_missing"
table_name_bronze = f"{table_name}_bronze"

# Write it as delta table
# telco_df.write.<FILL_IN>
telco_df.show()

+----------+------+-------------+-------+----------+------+------------+----------------+---------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+--------------+----------------+--------------------+--------------+------------+-----+
|customerID|gender|SeniorCitizen|Partner|Dependents|tenure|phoneService|   MultipleLines|internetService|     OnlineSecurity|       OnlineBackup|   DeviceProtection|        TechSupport|        StreamingTV|    StreamingMovies|      Contract|PaperlessBilling|       PaymentMethod|MonthlyCharges|TotalCharges|Churn|
+----------+------+-------------+-------+----------+------+------------+----------------+---------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+--------------+----------------+--------------------+--------------+------------+-----+
|7590-VHVEG|Female|          0.0|    Yes|        No|   1.0|          No|No phone service|            DSL|                 No|                Yes|                 No|                 No|                 No|                 No|Month-to-month|             Yes|    Electronic check|         29.85|       29.85|   No|
|5575-GNVDE|  Male|          0.0|     No|        No|  34.0|         Yes|              No|            DSL|                Yes|                 No|                Yes|                 No|                 No|                 No|      One year|              No|        Mailed check|         56.95|      1889.5|   No|
|3668-QPYBK|  Male|          0.0|     No|        No|   2.0|         Yes|              No|            DSL|                Yes|                Yes|                 No|                 No|                 No|                 No|Month-to-month|             Yes|        Mailed check|         53.85|      108.15|  Yes|
|7795-CFOCW|  Male|          0.0|     No|        No|  45.0|          No|No phone service|            DSL|                Yes|                 No|                Yes|                Yes|                 No|                 No|      One year|              No|Bank transfer (au...|          42.3|     1840.75|   No|
|9237-HQITU|Female|          0.0|     No|        No|   2.0|         Yes|              No|    Fiber optic|                 No|                 No|                 No|                 No|                 No|                 No|Month-to-month|             Yes|    Electronic check|          70.7|      151.65|  Yes|
|9305-CDSKC|Female|          0.0|     No|        No|   8.0|         Yes|             Yes|    Fiber optic|                 No|                 No|                Yes|                 No|                Yes|                Yes|Month-to-month|             Yes|    Electronic check|         99.65|       820.5|  Yes|
|1452-KIOVK|  Male|          0.0|     No|       Yes|  22.0|         Yes|             Yes|    Fiber optic|                 No|                Yes|                 No|                 No|                Yes|                 No|Month-to-month|             Yes|Credit card (auto...|          89.1|      1949.4|   No|
|6713-OKOMC|Female|          0.0|     No|        No|  10.0|          No|No phone service|            DSL|                Yes|                 No|                 No|                 No|                 No|                 No|Month-to-month|              No|        Mailed check|         29.75|       301.9|   No|
|7892-POOKP|Female|          0.0|    Yes|        No|  28.0|         Yes|             Yes|    Fiber optic|                 No|                 No|                Yes|                Yes|                Yes|                Yes|Month-to-month|             Yes|    Electronic check|         104.8|     3046.05|  Yes|
|6388-TABGU|  Male|          0.0|     No|       Yes|  62.0|         Yes|              No|            DSL|                Yes|                Yes|                 No|                 No|                 No|                 No|      One year|              No|Bank transfer (au...|         56.15|     3487.95|   No|
|9763-GRSKD|  Male|          0.0|    Yes|       Yes|  13.0|         Yes|              No|            DSL|                Yes|                 No|                 No|                 No|                 No|                 No|Month-to-month|             Yes|        Mailed check|         49.95|      587.45|   No|
|7469-LKBCI|  Male|          0.0|     No|        No|  16.0|         Yes|              No|             No|No internet service|No internet service|No internet service|No internet service|No internet service|No internet service|      Two year|              No|Credit card (auto...|         18.95|       326.8|   No|
|8091-TTVAX|  Male|          0.0|    Yes|        No|  58.0|         Yes|             Yes|    Fiber optic|                 No|                 No|                Yes|                 No|                Yes|                Yes|      One year|              No|Credit card (auto...|        100.35|      5681.1|   No|
|0280-XJGEX|  Male|          0.0|     No|        No|  49.0|         Yes|             Yes|    Fiber optic|                 No|                Yes|                Yes|                 No|                Yes|                Yes|Month-to-month|             Yes|Bank transfer (au...|         103.7|      5036.3|  Yes|
|5129-JLPIS|  Male|          0.0|     No|        No|  25.0|         Yes|              No|    Fiber optic|                Yes|                 No|                Yes|                Yes|                Yes|                Yes|Month-to-month|             Yes|    Electronic check|         105.5|     2686.05|   No|
|3655-SNQYZ|Female|          0.0|    Yes|       Yes|  69.0|         Yes|             Yes|    Fiber optic|                Yes|                Yes|                Yes|                Yes|                Yes|                Yes|      Two year|              No|Credit card (auto...|        113.25|     7895.15|   No|
|8191-XWSZG|Female|          0.0|     No|        No|  52.0|         Yes|              No|             No|No internet service|No internet service|No internet service|No internet service|No internet service|No internet service|      One year|              No|        Mailed check|         20.65|     1022.95|   No|
|9959-WOFKT|  Male|          0.0|     No|       Yes|  71.0|         Yes|             Yes|    Fiber optic|                Yes|                 No|                Yes|                 No|                Yes|                Yes|      Two year|              No|Bank transfer (au...|         106.7|     7382.25|   No|
|4190-MFLUW|Female|          0.0|    Yes|       Yes|  10.0|         Yes|              No|            DSL|                 No|                 No|                Yes|                Yes|                 No|                 No|Month-to-month|              No|Credit card (auto...|          55.2|      528.35|  Yes|
|4183-MYFRB|Female|          0.0|     No|        No|  21.0|         Yes|              No|    Fiber optic|                 No|                Yes|                Yes|                 No|                 No|                Yes|Month-to-month|             Yes|    Electronic check|         90.05|      1862.9|   No|
+----------+------+-------------+-------+----------+------+------------+----------------+---------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+--------------+----------------+--------------------+--------------+------------+-----+
only showing top 20 rows

## Task 2
### Manage Data Permissions
Establish controlled access to the Telco Delta table by granting specific permissions for essential actions.

Grant permissions for specific actions (e.g., read, write) on the Delta table.

In [6]:
%sql
-- TODO
Write query to Grant Permission to all the users to access Delta Table
<FILL_IN>;

SyntaxError: invalid syntax (3326353103.py, line 3)

## Task 3: Show Summary Statistics
Compute and present key statistical metrics to gain a comprehensive understanding of the Telco dataset.
- Utilize PySpark to compute and display summary statistics for the Telco dataset.
+ Include key metrics such as mean, standard deviation, min, max, etc.

In [7]:
# TODO
Show summary of the Data
<FILL_IN>

SyntaxError: invalid syntax (2973398001.py, line 2)

Task 4: Use Data Profiler to Explore DataFrame
Use the Data Profiler and Visualization Editor tools.

Use the Data Profiler to explore the structure, data types, and basic statistics of the DataFrame.
- Task 4.1.1: Identify columns with missing values and analyze the percentage of missing data for each column.
- Task 4.1.2: Review the data types of each column to ensure they match expectations. Identify any columns that might need type conversion.
- Use Visualization Editor to Check Outliers and Data Distributions:
- Task 4.2.1: Create a bar chart to visualize the distribution of churned and non-churned customers.
- Task 4.2.2: Generate a pie chart to visualize the distribution of different contract types.
- Task 4.2.3: Create a scatter plot to explore the relationship between monthly charges and total charges.
- Task 4.2.4: Visualize the count of customers for each payment method using a bar chart.
- Task 4.2.5: Compare monthly charges for different contract types using a box plot.

In [8]:
# Display the data and Explore the Data Profiler and Visualization Editor
#<FILL_IN>

In [9]:
# Display the data and Explore the Data Profiler and Visualization Editor
display(telco_df)

NameError: name 'telco_df' is not defined

## Task 5
### Drop the Column
Remove a specific column, enhancing data cleanliness and focus.
Identify the column that needs to be dropped. For example, let's say we want to drop the 'SeniorCitizen' column.
Use the appropriate command or method to drop the identified column from the Telco dataset.
Verify that the column has been successfully dropped by displaying the updated dataset.

In [10]:
# TODO
Drop SeniorCitizen Column 
telco_dropped_df = <FILL_IN>

Overwrite the Delta table
telco_dropped_df.write.mode("overwrite")<FILL_IN>

SyntaxError: invalid syntax (1580584074.py, line 2)

## Task 6
### Time-Travel to First
- Revert the Telco dataset back to its initial state, exploring the characteristics of the first version.
- Utilize time-travel capabilities to revert the dataset to its initial version.
- Display and analyze the first version of the Telco dataset to understand its original structure and content.

In [11]:
# TODO
Extract timestamp of first version (can also be set manually)
timestamp_v0 = spark.sql(<FILL_IN>)
(spark
        .read
        .option(<FILL_IN>)
        .table(<FILL_IN>)
        .printSchema()
)

SyntaxError: invalid syntax (1745600628.py, line 2)

## Task 7
### Read previous versions of the delta table
Demonstrate the ability to read data from a specific version of the Delta table.
Replace the timestamp in the code with the actual version or timestamp of interest.

Conclusion
In this lab, you demonstrated how to explore and manipulate the dataset using Databricks, focusing on data exploration, management, and time-travel capabilities.

In [12]:
%sql
-- TODO
Show table versions
<FILL_IN>

SyntaxError: invalid syntax (4224220345.py, line 3)